<!DOCTYPE html>
<html ng-app="madApp"> 
<head> 
<title>ngMadLibs</title> 
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script> 
<script src="madlib.js"></script>
</head> 
<body ng-controller="myC"> 
<div>
	<div>
	  <img src='mad-lib-happy-face.png' alt='Happy face' title='' style='display:inline-block;' width='100px'/>
	</div>
  	<div width='70%'>
  		<img src='ng-mad-libs-logo.png' alt='Logo' title=''/>
  		<h1>Automate this!</h1> 
	</div>
	<div>
	<h2>Provide the following words:</h2>
	<form name="myForm">
		<input type="text" placeholder="female name" ng-model="myC.female_name" required>
		<input type="text" placeholder="dirty task" ng-model="myC.dirty_task">
		<input type="text" placeholder="obnoxious celebrity" ng-model="myC.obnoxious_celebrity"></br>
		<input type="text" placeholder="job title" ng-model="myC.job_title">
		<input type="text" placeholder="celebrity" ng-model="myC.celebrity">
		<input type="number" placeholder="huge number" ng-model="myC.huge_number"></br>	
		<input type="text" placeholder="tedious task" ng-model="myC.tedious_task">
		<input type="text" placeholder="useless skill" ng-model="myC.useless_skill">
		<input type="text" placeholder="adjective" ng-model="myC.adjective">	
	</form>	
	</div>
	<pre>{{ myForm | json }}</pre>
	<div>
		<input type="submit" value="Generate my Mad Lib" id="submit" name="submit">
	</div>
	<div>
	  <img src='mad-lib-happy-face.png' alt='Happy face' title='' style='display:inline-block;' width='100px'/>
	</div>
  	<div width='70%'>
  		<img src='ng-mad-libs-logo.png' alt='Logo' title=''/>
  		<h1>Automate this!</h1> 
	</div>
<div>
<p>
	{{myC.female_name}} was a {{myC.job_title}} who loved technology. Although she loved parts of her job, she absolutely hated {{myC.tedious_task}} and {{myC.dirty_task}}.</br>
	 So, {{myC.female_name}} met with her life mentor {{myC.celebrity}} who told her to learn how to {{myC.useless_skill}} with Thinkful. Thinkful didn't offer a course on {{myC.useless_skill}} so she studied programming insteamyC. </br>
	 What a great decision! With her new skills, {{myC.female_name}} built a(n) {{myC.adjective}} robot named {{myC.obnoxious_celebrity}} that not only loved {{myC.dirty_task}} but did it {{myC.huge_number}} faster. 
</p>
	<div>
		<input type="submit" value="Start Over" id="reset" name="reset">
	</div>
</div>
</body> 
</html>